# Backend Environment Variables
MONGODB_URI=
PORT=5000
JWT_SECRET=your_secret_key_here_change_in_production
NODE_ENV=development

# Blockchain
ETHEREUM_RPC_URL=http://127.0.0.1:8545
CONTRACT_ADDRESS=0x

# Backend CORS
FRONTEND_URL=http://158.178.228.216:3000

# Optional: For deployment
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/web3-messages
# ETHEREUM_RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_KEY
